<section>
  <%= link_to "Submit plugin", new_plugin_path %>
</section>

<ul id="plugins">
  <% @plugins.each do |plugin| %>
    <li>
      <%= plugin.repository %>
      <small><%= plugin.description %></small>
    </li>
  <% end -%>
</ul>
