@mixin disable-link-decoration($color: black) {
  a {
    text-decoration: none;
    color: $color;
  }
}

body {
  margin: 0;
  background-color: $color-bg;
  font-family: $helvetica;
}

div.page {
  @include outer-container;
  section.content {
    @include pad();
    @include span-columns(8);
  }

  aside {
    @include span-columns(4);
    @include omega();

    .user {
      @include row;
    }
    #toolbox {
      @include row;
    }
  }
}

