<section id="navigation">
  <%= link_to "Plugins", plugins_path %>
  <% if current_user.present? %>
    <%= current_user.nickname %>
  <% else %>
    <%= link_to "Sign in", "/auth/github" %>
  <% end %>
</section>
